@model IEnumerable<solicita_web_net.Models.sol_responsavel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.sol_responsavel_nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sol_responsavel_cargo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sol_responsavel_data_cadastro)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.sol_responsavel_nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sol_responsavel_cargo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sol_responsavel_data_cadastro)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.sol_responsavel_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.sol_responsavel_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.sol_responsavel_id })
        </td>
    </tr>
}

</table>
