@model solicita_web_net.Models.sol_solicitacao

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>sol_solicitacao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.sol_categoria_servico.sol_categoria_servico_descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sol_categoria_servico.sol_categoria_servico_descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sol_causas.sol_causa_descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sol_causas.sol_causa_descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sol_classificacao.sol_classificacao_descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sol_classificacao.sol_classificacao_descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sol_grupo_resolvedor.sol_grupo_resolvedor_descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sol_grupo_resolvedor.sol_grupo_resolvedor_descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sol_impacto.sol_impacto_descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sol_impacto.sol_impacto_descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sol_produto.sol_produto_descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sol_produto.sol_produto_descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sol_responsavel.sol_responsavel_nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sol_responsavel.sol_responsavel_nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sol_solicitante.sol_nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sol_solicitante.sol_nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sol_status.sol_status_descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sol_status.sol_status_descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sol_sub_causas.sol_sub_causa_descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sol_sub_causas.sol_sub_causa_descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sol_tipo_servico.sol_tipo_servico_descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sol_tipo_servico.sol_tipo_servico_descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sol_urgencia.sol_urgencia_descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sol_urgencia.sol_urgencia_descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sol_sub_causa_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sol_sub_causa_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sol_resumo_solicitacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sol_resumo_solicitacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sol_justificativa_solicitacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sol_justificativa_solicitacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sol_solicitacao1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sol_solicitacao1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sol_solucao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sol_solucao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sol_tempo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sol_tempo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.sol_solicitacao_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
